body {
    background-color: #F0F4EF;
    margin: 0;
}

header {
    background-color: #b4cded;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100px;
    padding: 20px;
}

nav {
    text-align: center;
    background-color: black;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer {
    background-color: #344966;
}

